{% extends 'base.html' %}
{% load static %}
{% block container %}
        <h2>Обо мне</h2>
          <p>
          <img src="{% static 'images/me.jpg' %}" alt="" align="right"/>
              Меня зовут Василий, мне 27 лет и я бывший <strike>алкоголик</strike> python-программист. Последний раз я зимовал на Пхукете и это было прекрасно: пока вы тут мерзли, я отдувался за вас всех, блаженствуя от копеечного массажа, дешевых свежих фруктов и прекрасной погоды лучшего курортного региона Таиланда.

          </p>
        <h2>Ложка дегтя</h2>
          <p>Пхукет - прекрасное место: на нем есть места для жизни как семьей, так и компаниями. При желании даже работу можно найти и зарабатывать порядка 2 тысяч зеленых американских тугриков. Но в какой-то момент понимаешь, что сходить особо некуда. А еще без места где можно эффективно работать доходы сильно ниже ожидаемых. Нужна атмосфера и окружение.</p>
        <h2>Рождение идеи</h2>
          <p>Еще в январе четко сформировалась идея открыть Stash. Свободное пространство, где можно работать, учиться и развлекаться. Некая смесь уютного коворкинга и антикафе, но со своей уникальной атмосферой, располагающей к эффективной деятельности. Иначе говоря весь смысл существования Stash’a в том, чтобы не только давать возможность делать то, что вам хочется, но и всячески помогать в этом.</p>
        <h2>Реализация</h2>
          <p>Уже с 1го сентября Stash работает в тэстовом режиме (да, я знаю, что по “правилам” пишется “тестовый режим”, но имхо это историческая ошибка и намерен положить начало исправлению этого недоразумения).</p>
        <h3>Расскажу подробнее о возможностях, которые получит любой, кому с нами по пути:</h3>
        <ul>
            <li>возможность работать в шикарном доме</li>
            <li>отсутствие тупого начальника</li>
            <li>обучение на мастерклассах/тренингах/семинарах/вебинарах</li>
            <li>окружение, которое тянет вас вверх</li>
            <li>помощь в поиске заказов, а так же предоставление работы</li>
            <li>различные способы мотивации (социальные гарантии<a href="#1">*</a>, марафон и прочие)</li>
            <li>бесплатные фрукты и напитки</li>
            <li>индивидуальное решение вопросов питания</li>
            <li>плавать в бассейне</li>
            <li>предоставление оборудования в рассрочку</li>
            <li>высокоскоростной интернет и даже(!) электричество</li>
            <li>принтер</li>
            <li>шкафчик</li>
            <li>возможность ночлега</li>
            <li>массаж</li>
            <li>настольные игры</li>
            <li>слэк, бадминтон и многое-многое другое</li>
        </ul>
          <p><a name="1">*</a> Под социальными гарантиями понимается особый вид мотивации, когда человек дает обещание перед социумом, тем самым "отвечая перед пацанами" :-)</p>
        <h3>А так же:</h3>
          <ul>
            <li>секретарь</li>
            <li>помощь в переезде, поиске жилья, авиабилетов</li>
            <li>mango office</li>
            <li>до конца октября можно оформить рабочее место на свой вкус</li>
          </ul>
{#Помощь с переездом (графика)#}

Чтобы получить больше инфы о Stash’e заполните заявку:
{#Имя#}
{#емайл#}
{#телефон#}
{#(хочу переехать, интересны цены; просто мимо проходил, решил оставить емайл; расскажите поподробнее; Единая Россия)#}
{#комментарий#}{% endblock %}